body
{
    background-color: #dddddd;
    font-family: 'Courier New', Courier, monospace;
}
h1
{
    background-color: #333333;
<<<<<<< HEAD
    color: #ffffff;
=======
    color: #FFFFFF;
>>>>>>> 06dcfb097fbfac3e50896855c1bcf04a81258dac
    padding: 10px;
}